# Analyze KEM GCC results

In [1]:
from gams import *

In [2]:
# check GAMS system directory
gw = GamsWorkspace()
print(gw.system_directory)

/Applications/GAMS25.1/sysdir

In [ ]:
ws = GamsWorkspace(working_directory="..")
t1 = ws.add_job_from_file("integrated.gms")

In [ ]:
t1.run()

In [3]:
import matplotlib.pyplot as plt
import numpy as np

In [4]:
%matplotlib inline

### read in csv files with results

In [5]:
import gdxpds
dataframes = gdxpds.to_dataframes("../results/gcclong/results_gcclong.gdx")
for symbol_name, df in dataframes.items():
    print("Doing work with {}.".format(symbol_name))

Doing work with ELWAbld_xls.
Doing work with ELWAsupELp.
Doing work with ELWAsupWAp.
Doing work with ELWAsup_tot.
Doing work with ELWAconsumpWAp.
Doing work with RWELtrans_tot.
Doing work with RWELtrade_tot.
Doing work with RWELtrade_demanded.
Doing work with RWELdemand.
Doing work with ELWAsupELp_ELp.
Doing work with ELWAsupELp_xls.
Doing work with ELWAfcon_xls.
Doing work with ELWAfcon_trade.
Doing work with ELWAfcon_tot.
Doing work with RWDELsup.
Doing work with RWEMallquant.
Doing work with fimports.
Doing work with fExports.
Doing work with WAcapSingle.
Doing work with ELWAcap.
Doing work with Invest.
Doing work with Shadowprice.
Doing work with fuelimports_phys.
Doing work with Fuelexports_TBTU.
Doing work with Fuelexports_phys.
Doing work with WAbld_tot.
Doing work with ELWAfcon_physical.
Doing work with fueltrans.
Doing work with fRelativecost.
Doing work with ELWAfcon_sec.

### Fuel consumption

In [8]:
fuel_cons = dataframes['ELWAfcon_xls']
fuel_cons = fuel_cons.set_index(['c','trun','f'])
fuel_cons = fuel_cons.pivot_table(values='Value',index='c',columns='f')
fuel_cons

f      Arablight        Coal         HFO      diesel      methane
c
bah          NaN         NaN         NaN         NaN   183.467101
ksa  1646.441851         NaN  296.823066  443.834024  2061.577283
kuw    27.390382  284.331775  163.116000   35.017226   587.500000
omn          NaN         NaN         NaN         NaN   339.352020
qat          NaN         NaN         NaN         NaN   502.925821
uae          NaN   11.617485         NaN         NaN  1289.394238

### Electricity trade

In [ ]:
#RWELtrade_tot = dataframes['RWELtrade_tot']
#RWELtrade_tot.head()

In [ ]:
#RWELtrade_tot = RWELtrade_tot.pivot_table(values='Value',index=['trun','c'],columns='cc')

In [ ]:
#RWELtrade_tot

### Capacity builds

In [9]:
ELWAbld_xls = dataframes['ELWAbld_xls']
ELWAbld_xls.columns = ['c','trun','ELp','value']
ELWAbld_xls.head()

     c trun     ELp     value
0  ksa   t5      GT  0.022440
1  ksa   t6  GTtoCC  3.586000
2  ksa  t13      CC  4.517908
3  ksa  t14      CC  6.084060
4  ksa  t15      CC  5.244066

In [10]:
ELWAbld_xls = ELWAbld_xls.pivot_table(values='value',index=['c','trun'],columns='ELp')
ELWAbld_xls

ELp             CC  CCCoVMSF  CoalSteam     Cogen        GT  GTtoCC     Steam
c   trun
bah t14   0.092910       NaN        NaN       NaN       NaN     NaN       NaN
    t15   0.119930       NaN        NaN       NaN       NaN     NaN       NaN
    t16   0.139919       NaN        NaN       NaN       NaN     NaN       NaN
ksa t13   4.517908       NaN        NaN       NaN       NaN     NaN       NaN
    t14   6.084060       NaN        NaN       NaN       NaN     NaN       NaN
    t15   5.244066       NaN        NaN       NaN       NaN     NaN       NaN
    t16   5.424541       NaN        NaN       NaN       NaN     NaN       NaN
    t5         NaN       NaN        NaN       NaN  0.022440     NaN       NaN
    t6         NaN       NaN        NaN       NaN       NaN  3.5860       NaN
kuw t10        NaN       NaN   0.009949       NaN       NaN     NaN       NaN
    t11        NaN       NaN   0.672617       NaN       NaN     NaN       NaN
    t12        NaN       NaN   0.009569       NaN       NaN     NaN       NaN
    t13        NaN       NaN   0.771722       NaN       NaN     NaN       NaN
    t14        NaN       NaN   0.105400       NaN       NaN     NaN       NaN
    t15        NaN       NaN   0.867556       NaN       NaN     NaN       NaN
    t16        NaN       NaN   0.201238       NaN       NaN     NaN       NaN
    t7         NaN  0.532247        NaN  0.532247       NaN     NaN       NaN
    t8         NaN  1.206950        NaN  1.206950       NaN     NaN       NaN
    t9         NaN       NaN   3.424740       NaN       NaN     NaN       NaN
qat t10   0.229183       NaN        NaN       NaN       NaN     NaN       NaN
    t11   0.229183       NaN        NaN       NaN       NaN     NaN       NaN
    t12   0.229183       NaN        NaN       NaN       NaN     NaN       NaN
    t13   0.261924       NaN        NaN       NaN       NaN     NaN       NaN
    t14   0.261924       NaN        NaN       NaN       NaN     NaN       NaN
    t15   0.294664       NaN        NaN       NaN       NaN     NaN       NaN
    t16   0.294664       NaN        NaN       NaN       NaN     NaN       NaN
    t2         NaN       NaN        NaN       NaN  0.037574     NaN       NaN
    t6         NaN       NaN        NaN       NaN       NaN  0.0875       NaN
    t7         NaN       NaN        NaN       NaN       NaN     NaN  0.102659
    t8    0.991371       NaN        NaN       NaN       NaN     NaN       NaN
    t9    0.229183       NaN        NaN       NaN       NaN     NaN       NaN
uae t11   0.002240       NaN        NaN       NaN       NaN     NaN       NaN
    t12   0.001145       NaN        NaN       NaN       NaN     NaN       NaN
    t13   0.007109       NaN        NaN       NaN       NaN     NaN       NaN
    t14   1.029102       NaN        NaN       NaN       NaN     NaN       NaN
    t15   1.128981       NaN        NaN       NaN       NaN     NaN       NaN
    t16   1.061146       NaN        NaN       NaN       NaN     NaN       NaN
    t3         NaN       NaN        NaN       NaN  0.281574     NaN       NaN
    t4         NaN       NaN        NaN       NaN  1.021380     NaN       NaN
    t5         NaN       NaN        NaN       NaN  0.021372     NaN       NaN
    t6         NaN       NaN        NaN       NaN  0.995194  0.0703       NaN
    t9    0.074106       NaN        NaN       NaN       NaN     NaN       NaN

### Electricity capacity

In [11]:
ELWAcap = dataframes['ELWAcap']
ELWAcap.columns = ['trun','c','ELp','sector','value']
ELWAcap = ELWAcap.drop(columns='sector')

In [12]:
ELWAcap = ELWAcap.pivot_table(values='value',index=['c','trun'],columns='ELp')
ELWAcap

ELp             CC  CCCoMED  CCCoMSF  CCCoVMED  CCCoVMSF    CCcon   CSP  \
c   trun
bah t1    1.940000      NaN      NaN       NaN       NaN      NaN   NaN
    t10   1.940000      NaN      NaN       NaN       NaN      NaN   NaN
    t11   1.940000      NaN      NaN       NaN       NaN      NaN   NaN
    t12   1.940000      NaN      NaN       NaN       NaN      NaN   NaN
    t13   1.940000      NaN      NaN       NaN       NaN      NaN   NaN
...            ...      ...      ...       ...       ...      ...   ...
uae t5    3.960000      5.0    13.34       NaN       NaN      NaN  0.05
    t6    3.960000      5.0    13.34       NaN       NaN  0.10545  0.05
    t7    3.960000      5.0    13.34       NaN       NaN  0.10545  0.05
    t8    3.960000      5.0    13.34       NaN       NaN  0.10545  0.05
    t9    4.034106      5.0    13.34       NaN       NaN  0.10545  0.05

ELp       CoalSteam   Cogen        GT  GTCo  Nuclear        PV   StCo  StCoV  \
c   trun
bah t1          NaN   0.282  1.629000   0.1      NaN       NaN  0.182    NaN
    t10         NaN   0.282  1.629000   0.1      NaN       NaN  0.182    NaN
    t11         NaN   0.282  1.629000   0.1      NaN       NaN  0.182    NaN
    t12         NaN   0.282  1.629000   0.1      NaN       NaN  0.182    NaN
    t13         NaN   0.282  1.629000   0.1      NaN       NaN  0.182    NaN
...             ...     ...       ...   ...      ...       ...    ...    ...
uae t5          NaN  20.570  7.027327   NaN      NaN  0.009645  2.230    NaN
    t6          NaN  20.570  7.952221   NaN      NaN  0.009558  2.230    NaN
    t7          NaN  20.570  7.952221   NaN      5.6  0.009472  2.230    NaN
    t8          NaN  20.570  7.952221   NaN      5.6  0.009387  2.230    NaN
    t9          NaN  20.570  7.952221   NaN      5.6  0.009302  2.230    NaN

ELp       Steam
c   trun
bah t1    1.302
    t10   1.302
    t11   1.302
    t12   1.302
    t13   1.302
...         ...
uae t5      NaN
    t6      NaN
    t7      NaN
    t8      NaN
    t9      NaN

[96 rows x 16 columns]

In [16]:
ELWAcap.loc['uae']

ELp,CC,CCCoMED,CCCoMSF,CCCoVMED,CCCoVMSF,CCcon,CSP,CoalSteam,Cogen,GT,GTCo,Nuclear,PV,StCo,StCoV,Steam
trun,,,,,,,,,,,,,,,,
t1,2.380000,5.0,13.34,NaN,NaN,NaN,0.05,NaN,20.57,5.703000,NaN,NaN,0.010000,2.23,NaN,NaN
t10,4.034106,5.0,13.34,NaN,NaN,0.10545,0.05,2.4,20.57,7.952221,NaN,5.6,0.009219,2.23,NaN,NaN
t11,4.036345,5.0,13.34,NaN,NaN,0.10545,0.05,2.4,20.57,7.952221,NaN,5.6,0.009136,2.23,NaN,NaN
t12,4.037491,5.0,13.34,NaN,NaN,0.10545,0.05,2.4,20.57,7.952221,NaN,5.6,0.009053,2.23,NaN,NaN
t13,4.044599,5.0,13.34,NaN,NaN,0.10545,0.05,2.4,20.57,7.952221,NaN,5.6,0.008972,2.23,NaN,NaN
t14,5.073701,5.0,13.34,NaN,NaN,0.10545,0.05,2.4,20.57,7.952221,NaN,5.6,0.008891,2.23,NaN,NaN
t15,6.202682,5.0,13.34,NaN,NaN,0.10545,0.05,2.4,20.57,7.952221,NaN,5.6,0.008811,2.23,NaN,NaN
t16,7.263828,5.0,13.34,NaN,NaN,0.10545,0.05,2.4,20.57,7.952221,NaN,5.6,0.008732,2.23,NaN,NaN
t2,2.380000,5.0,13.34,NaN,NaN,NaN,0.05,NaN,20.57,5.703000,NaN,NaN,0.009910,2.23,NaN,NaN
t3,2.720000,5.0,13.34,NaN,NaN,NaN,0.05,NaN,20.57,5.984574,NaN,NaN,0.009821,2.23,NaN,NaN
t4,2.720000,5.0,13.34,NaN,NaN,NaN,0.05,NaN,20.57,7.005954,NaN,NaN,0.009732,2.23,NaN,NaN
t5,3.960000,5.0,13.34,NaN,NaN,NaN,0.05,NaN,20.57,7.027327,NaN,NaN,0.009645,2.23,NaN,NaN
t6,3.960000,5.0,13.34,NaN,NaN,0.10545,0.05,NaN,20.57,7.952221,NaN,NaN,0.009558,2.23,NaN,NaN
t7,3.960000,5.0,13.34,NaN,NaN,0.10545,0.05,NaN,20.57,7.952221,NaN,5.6,0.009472,2.23,NaN,NaN
t8,3.960000,5.0,13.34,NaN,NaN,0.10545,0.05,NaN,20.57,7.952221,NaN,5.6,0.009387,2.23,NaN,NaN
t9,4.034106,5.0,13.34,NaN,NaN,0.10545,0.05,NaN,20.57,7.952221,NaN,5.6,0.009302,2.23,NaN,NaN

### Electricity production

In [ ]:
ELWAsupELp_xls = dataframes['ELWAsupELp_xls']
ELWAsupELp_xls.columns = ['trun','c','ELp','value']
ELWAsupELp_xls = ELWAsupELp_xls.pivot_table(values='value',index=['c','trun'],columns='ELp')
ELWAsupELp_xls

### Cost calcs

In [ ]:
import gdxpds
dataframes2 = gdxpds.to_dataframes("../results/gcclong/results_cost_calcs_gcclong.gdx")
for symbol_name, df in dataframes2.items():
    print("Doing work with {}.".format(symbol_name))

In [ ]:
RWcostcalcs = dataframes2['RWcostcalcs']
RWcostcalcs.columns = ['trun','type','c','value']
RWcostcalcs = RWcostcalcs.set_index(['c','trun','type'])
RWcostcalcs = RWcostcalcs.pivot_table(values='value',index='type',columns='c')
RWcostcalcs